name: Pull Request

on:
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
            packages: write
            checks: write
        steps:
            -   uses: actions/checkout@v5
            -   uses: actions/setup-java@v5
                with:
                    java-version: 23
                    distribution: 'temurin'

            - name: Setup Gradle for a non-wrapper project
              uses: gradle/actions/setup-gradle@v5
              with:
                  gradle-version: wrapper
            - name: Bygg & test
              run: ./gradle test --continue --no-daemon --configuration-cache --stacktrace --info
              env:
                  GITHUB_PASSWORD: ${{ secrets.READER_TOKEN }}
            - uses: dorny/test-reporter@v2.1.1
              if: success() || failure()
              with:
                  name: test
                  path: "**/build/test-results/test/TEST-*.xml"
                  reporter: java-junit
                  token: ${{ secrets.GITHUB_TOKEN }}