name: Pull Request

on:
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        secrets: inherit
        permissions:
            contents: read
            id-token: write
            packages: write
            checks: write
        uses: navikt/aap-workflows/.github/workflows/gradle-build.yml@main            
